{%extends 'base.html'%}

{%block all_posts%}

<style>
    .card{
        margin-bottom: 2%;
    }
    .card-title:hover{
        text-decoration: underline;
    }
    .btn{
        background: rgb(240, 240, 240);
        padding: 0;
    }
</style>


<div style="margin-top: 5%;" >
    {%if posts%}
        {%for obj in posts%}
            <div class='card' >
                <div class="card-body">
                    <h3 class="card-title" style="cursor: pointer;" onclick="location.href='{%url 'post' obj.id%}'">{{obj.title}}</h3>
                    <small>@{{obj.author}}</small> <small>{{obj.timestamp}}</small>
                    {% for cat in obj.categories.all%}
                        <button class="btn btn-sm" onclick="location.href='{%url 'category' cat.id%}'"><small>{{cat}}</small></button>
                    {%endfor%}  
                    <br>
                    <br>
                    <p class="card-text">{{obj.overview}}</p>
                </div>
            </div>
        {%endfor%}
    {%endif%}

    {% comment %} <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
          <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
          <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
          <li><span class="pagination-ellipsis">&hellip;</span></li>
          <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
        </ul>
      </nav> {% endcomment %}
</div>

{%endblock%}