{% extends 'base.html' %}
{% block homepage %}
{% comment %} {%load %} {% endcomment %}
<style>
  #content {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
  .card h2 {
    cursor: pointer;
  }
  #box-title:hover{
      text-decoration: underline;
      text: underline;
  }
  .btn{
    padding: 0;
    background: rgb(240, 240, 240);
  }
</style>


<div id='content'>
  {% if object_list%}
      {% for obj in object_list %}
        <div class='card' >
          <div class="card-body">
            <div class="media-content">
              <h2 id='box-title' style='font-family: serif' onclick="location.href='{%url 'post' obj.id%}'">{{obj.title}}</h2>
              <div class="content">
                <p>
                  <small>@{{obj.author}}</small> <small>{{obj.timestamp}}</small>
                  <br>
                  {% comment %} {{obj.categories.all}} {% endcomment %}
                  {% for cat in obj.categories.all%}
                    <button class="btn btn-sm" onclick="location.href='{%url 'category' cat.id%}'"><small>{{cat}}</small></button>
                  {%endfor%}  
                  <br>
                  <br>
                  {{obj.overview | slice:":100" }}......
                </p>
              </div>
              {% comment %} <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="reply">
                    <span class="icon is-small">
                      <i class="fas fa-reply" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="retweet">
                    <span class="icon is-small">
                      <i class="fas fa-retweet" aria-hidden="true"></i>
                    </span>
                  </a>
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav> {% endcomment %}
            </div>
          </div>
        </div>
      {%endfor%}
  {% endif %}

</div>
{%endblock homepage%}
