{%extends 'base.html'%}

{%block post%}

<style>
    #post{
        margin-top: 2%;
    }
    .card{

    }
    .btn{
        padding: 0;
        background: rgb(240, 240, 240);
    }
</style>


<div id='post'>
    {%if post%}
        <div class='card'>
            <div class="card-body">
                <h3 class='card-title'>{{post.title}}</h3>
                <small>@{{post.author}} {{post.timestamp}}</small>
                {%for cat in post.categories.all%}
                    <button class="btn btn-sm"><small>{{cat}}</small></button>
                {%endfor%}  
                <p class="card-text" style="margin-top: 2%;">
                    {{post.content.html|safe}}
                </p>
            </div>
        </div>
    {%endif%}
</div>
{%endblock%}