{%extends 'base.html' %}



{% block projects%}

<style>
    .card{
        margin-bottom: 2%;
    }
    .project-title{
        color: black;
    }
    .project-title:hover{
        text-decoration: underline;
    }
</style>

<div id='projects'>
    {%if projects%}
        {%for obj in projects%}
            <div class="card">
                <div class="card-body">
                    <h5 class='card-title'><a class='project-title' href={{obj.url}} target='_blank' >{{obj.name}}</a></h5>
                    <p style="margin-bottom: 1%;">
                        <a style="color: black;" href={{obj.github}} target='_blank'><small><i class="fa fa-github" style="font-size:24px"></i>Github</small></a>, {{obj.start_date}} - {{obj.end_date}}
                    </p>
                    <div class="card-text">
                        {%for des in obj.description%}
                            <div>{{des}}</div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        {%endfor%} 
    {%endif%}
</div>
{% endblock projects%}