{%extends 'base.html' %}



{% block projects%}

<style>
    #projects{
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .project-title{
        color: black;
    }
    .project-title:hover{
        text-decoration: underline;
    }
</style>

<div id='projects'>
    {%if projects%}
        {%for obj in projects%}
            <p class='title is-4'><a class='project-title' href={{obj.url}} target='_blank' >{{obj.name}}</a></p>
            <p class='subtitle is-6' style="margin-bottom: 1%;">
                <a style="color: black;" href={{obj.github}} target='_blank'><small><i class="fa fa-github" style="font-size:24px"></i>Github</small></a>, {{obj.start_date}} - {{obj.end_date}}
            </p>
            {%for des in obj.description%}
                <p>{{des}}</p>
            {%endfor%}
        {%endfor%} 
    {%endif%}
</div>
{% endblock projects%}